body.light-mode {
    background-color: #ffffff;
    color: #333333;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.theme-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
    background: #ccc;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.theme-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.dark-mode .theme-btn {
    background: #bd5805;
}

.dark-mode .theme-btn::before {
    transform: translateX(28px);
}