.header-group {
    width: 100%;
    max-width: 700px;
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #006400;
}

.header-group h1 {
    color: #1a241e;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-add {
    background-color: #006400;
    color: white !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.btn-add:hover {
    background-color: #004d00;
}

.table-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

.course-table th {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: middle;
    border-bottom: 2px solid #ddd;
    color: #333;
}

.course-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #555;
}



.delete-link {
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
}
