body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 70%;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #000;
    color: #fff;
}

.empty {
    text-align: center;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 16px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
